[submodule "aur-sorah/PKGBUILDs/h2o"]
	path = aur-sorah/PKGBUILDs/h2o
	url = https://aur.archlinux.org/h2o.git

[submodule "aur-sorah/PKGBUILDs/prometheus-exporter-proxy"]
	path = aur-sorah/PKGBUILDs/prometheus-exporter-proxy
	url = https://aur.archlinux.org/prometheus-exporter-proxy.git
[submodule "aur-sorah/PKGBUILDs/mitamae"]
	path = aur-sorah/PKGBUILDs/mitamae
	url = https://aur.archlinux.org/mitamae.git
[submodule "aur-sorah/PKGBUILDs/prometheus-unbound-exporter-git"]
	path = aur-sorah/PKGBUILDs/prometheus-unbound-exporter-git
	url = https://aur.archlinux.org/prometheus-unbound-exporter-git.git
[submodule "aur-sorah/PKGBUILDs/osquery-bin"]
	path = aur-sorah/PKGBUILDs/osquery-bin
	url = https://aur.archlinux.org/osquery-bin.git
[submodule "aur-sorah/PKGBUILDs/kubernetes-bin"]
	path = aur-sorah/PKGBUILDs/kubernetes-bin
	url = https://aur.archlinux.org/kubernetes-bin.git
[submodule "aur-sorah/PKGBUILDs/kubernetes"]
	path = aur-sorah/PKGBUILDs/kubernetes
	url = https://aur.archlinux.org/kubernetes.git
