pkgbase = subsystemctl
	pkgdesc = Run systemd in WSL2
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/sorah/subsystemctl
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	source = https://github.com/sorah/subsystemctl/archive/v0.1.2.tar.gz
	sha512sums = 1c0772b4267fc3afaf41b3375a28df5ed08bb0753c1d95f7b2bd570d7c22bb8e16966845427ba6a27e6727841ce3ef577828e462dce791fc198c9dc3ae2f9b7e

pkgname = subsystemctl

